.DS_STORE
browser-test
dist

# location of levelDB data storage for DWN
data

# location of levelDB data storage for DWN created by tests
data-test

etc
node_modules
tmp
dwn.db
coverage
branch_structure.json
temp_auto_push.bat
temp_interactive_push.bat
.gitignore
